.canvas {
  height: 90vh;
  width: 45%;
}

@media screen and (min-width: 768px) {
    .canvas {
      width: 40%;
    }
  }

@media screen and (min-width: 1024px) {
    .canvas {
      width: 50%;
    }
  }

@media screen and (min-width: 1366px) {
    .canvas {
      width: 55%;
    }
  }

  @media screen and (min-width: 1920px) {
    .canvas {
      width: 50%;
    }
  }