.canvas {
  height: 25vh;
  width: 100%;
}

@media screen and (min-width: 768px) {
    .canvas {
      height: 60vh;
      width: 35%;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .canvas {
      height: 95vh;
      width: 46%;
    }
  }

@media screen and (min-width: 1366px) {
    .canvas {
      width: 55%;
    }
  }

  @media screen and (min-width: 1920px) {
    .canvas {
      width: 50%;
    }
  }