.stickersContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.primaryStickersContainer {
  display: flex;
  justify-content: space-between;
  max-height: 45vh;
}

.mainLogoContainer {
  width: 50%;
}

.logoRoot {
  max-height: 100%;
  display: contents;
}

.logo {
  max-height: 100%;
}

.logoAndInstagramContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-between;
}

.logoAndInstagramContainer > a {
  display: contents;
}

.secondaryStickersContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
}

.newsletterContainer {
  width: 50%;
}

.spotifyContainer {
  width: 40%;
  display: flex;
  justify-content: center;
}

.spotifyContainer > a {
  display: contents;
}

@media screen and (min-width: 768px) {
  .stickersContainer {
    width: 65%;
  }
}

@media screen and (min-width: 1024px) {
  .stickersContainer {
    width: 54%;
  }
}

@media screen and (min-width: 1366px) {
  .stickersContainer {
    width: 45%;
  }
}

@media screen and (min-width: 1920px) {
  .stickersContainer {
    width: 50%;
  }
}
