.stickersContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.primaryStickersContainer {
  display: none;
}

.mainLogoContainer {
  width: 33%;
}

.logoRoot {
  max-height: 100%;
  display: contents;
}

.logo {
  max-height: 100%;
}

.logoAndInstagramContainer > a {
  display: contents;
}

.secondaryStickersContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.newsletterContainer {
  width: 100%;
}

.spotifyContainer {
  display: none;
}

.spotifyContainer > a {
  display: contents;
}

.mobileTopLinks {
  display: flex;
  justify-content: space-between;
}

.mobileLogoContainer {
  display: flex;
  width: 25%;
  margin-top: 16px;
}

.mobileSpotifyContainer {
  display: flex;
  width: 25%;
}

.mobileInstagramContainer {
  display: flex;
  width: 25%;
}

@media screen and (min-width: 768px) {
  .spotifyContainer {
    margin-top: 0;
    width: 40%;
    display: flex;
    justify-content: center;
  }
  .mainLogoContainer {
    width: 50%;
  }
  .newsletterContainer {
    width: 50%;
  }
  .secondaryStickersContainer {
    flex-direction: row;
    margin-top: 16px;
  }
  .stickersContainer {
    width: 65%;
  }
  .primaryStickersContainer {
    display: flex;
    justify-content: space-between;
    max-height: 45vh;
  }
  .logoAndInstagramContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-between;
  }
  .mobileTopLinks {
    display: none;
  }
  .mobileSpotifyContainer {
    display: none;
  }
  .mobileLogoContainer{
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .stickersContainer {
    width: 54%;
  }
  .secondaryStickersContainer {
    margin-top: 24px;
  }
}

@media screen and (min-width: 1366px) {
  .stickersContainer {
    width: 45%;
  }
  .secondaryStickersContainer {
    margin-top: 32px;
  }
}

@media screen and (min-width: 1920px) {
  .stickersContainer {
    width: 50%;
  }
  .secondaryStickersContainer {
    margin-top: 48px;
  }
}
