.root {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100vh;
  min-height:-webkit-fill-available;
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .root {
    align-items: center;
    padding: 32px;
  }
}