.root {
  background: #e88ff8;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.root p {
  text-align: center;
}

.label {
  color: black;
  text-align: center;
}

.input {
  outline: none;
  border: none;
  margin-top: 24px;
  padding: 16px;
  background: black;
  color: #e88ff8;
}

.submitAction {
  margin-top: 24px;
  color: black;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
