.root {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
}

.video{
    min-width: 100vw;
    min-height: 100vh;
    object-fit: cover;
    object-position: center;
}
